@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="site-wrap">
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href=@Url.Action("Index", "Customer")>Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">About</strong></div>
                </div>
            </div>
        </div>
        <div class="site-section border-bottom" data-aos="fade">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="block-16">
                            <figure>
                                <img src="~/Images/Customer_About/北科logo.jpg" alt="Logo" class="img-fluid rounded">
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="site-section-heading pt-3 mb-4">
                            <h2 class="text-black">How We Started</h2>
                        </div>
                        <p>Database System project</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="site-section border-bottom" data-aos="fade">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-md-7 site-section-heading text-center pt-4">
                        <h2>The Team</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3">

                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="~/Images/Customer_About/柏宇頭貼.jpg" height="175" width="175" alt="陳柏宇" class="mb-4 ">
                                    <h3 class="block-38-heading h4">陳柏宇</h3>
                                    <p class="block-38-subheading">Teammate</p>
                                </div>
                                <div class="block-38-body">
                                    <p>右邊是騙子</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="~/Images/Customer_About/家耘頭貼.jpg" height="175" width="175" alt="陳家耘" class="mb-4">
                                    <h3 class="block-38-heading h4">陳家耘</h3>
                                    <p class="block-38-subheading">Teammate</p>
                                </div>
                                <div class="block-38-body">
                                    <p>真誠是陳家耘的代名詞，以誠待人，從未欺騙過高中"同學";而在理財規劃上也有獨特的見解，對自制力有十足的信心</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="~/Images/Customer_About/彥陞頭貼.png" height="175" width="175" alt="吳彥陞" class="mb-4">
                                    <h3 class="block-38-heading h4">吳彥陞</h3>
                                    <p class="block-38-subheading">Teammate</p>
                                </div>
                                <div class="block-38-body">
                                    <p>左邊是騙子</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="~/Images/Customer_About/振鎧頭貼.png" height="175" width="175" alt="陳振鎧" class="mb-4">
                                    <h3 class="block-38-heading h4">陳振鎧</h3>
                                    <p class="block-38-subheading">Teammate</p>
                                </div>
                                <div class="block-38-body">
                                    <p>怕</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade"">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon mr-4 align-self-start">
                        <span class="icon-truck"></span>
                    </div>
                    <div class="text">
                        <h2 class="text-uppercase">Free Shipping</h2>
                        <p>免運費</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon mr-4 align-self-start">
                        <span class="icon-refresh2"></span>
                    </div>
                    <div class="text">
                        <h2 class="text-uppercase">Free Returns</h2>
                        <p>免費退貨</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon mr-4 align-self-start">
                        <span class="icon-help"></span>
                    </div>
                    <div class="text">
                        <h2 class="text-uppercase">Customer Support</h2>
                        <p>良好的顧客服務</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>
</html>
