
@{
    ViewBag.Title = "AccountCreate";
}

<h2>Create Account</h2>
<body>
    <div class="container">
        <div class="row">
            <pre>Name:     </pre><input type="text" name="account" />
        </div>
        <div class="row">
            <pre>Account:  </pre><input type="text" name="account" />
        </div>
        <div class="row">
            <pre>Password: </pre><input type="password" name="password" />
        </div>
        <div class="row">
            <pre>Address:  </pre><input type="text" name="account" />
        </div>
        <div class="row">
            <input type="submit" value="Login" style="margin:15px 0px" />
            <input type="button" value="Home" style="margin:15px 0px" />
        </div>
        <div class="row">
            <text> <a href=@Url.Action("AccountCreate", "Customer") style="font-size:small">Create new account</a></text>
        </div>
    </div>
</body>
