@using BookStore.Models
@model List<BookStore.Models.Book>
@{
    ViewBag.Title = "Recommand";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="site-wrap">
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href=@Url.Action("Index", "customer")>Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Recommand</strong></div>
            </div>
        </div>
    </div>
</div>

<div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Recommand Products</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="nonloop-block-3 owl-carousel">
                    <!--要注意Book.Cover放入的圖片實際資料庫還沒有圖片-->
                    <!--因為他是取特定數量的資料 先放五筆進去 若有錯誤塞入資料就可以解決了-->
                    @for(int i = 0; i < 1; i++)
                    {
                        <!--商品資訊-->
                        <div class="item">
                            <div class="block-4 text-center">
                                <figure class="block-4-image">
                                    <img src= @Model[i].Cover alt="Image placeholder" style="width:300px;height:300px">
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href=@Url.Action("ShopSingle", "Customer", new { ISBN = Model[i].ISBN })>@Model[i].Name</a></h3>
                                    <p class="text-primary font-weight-bold">@Model[i].UnitPrice</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

