@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="site-wrap">
        <!--背景圖片，需要清晰大圖，最好有底色-->
        <div class="site-blocks-cover" style="background-image: url(../../Images/Customer_Index/背景圖片.jpg);" data-aos="fade">
            <div class="container">
                <div class="row align-items-start align-items-md-center justify-content-end">
                    <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
                        <!--輸入文字-->
                        <h1 class="mb-2" style="font-family:Microsoft JhengHei">一本適合您的書</h1>
                        <p>
                            <!--連接到購物頁面-->
                            <a href="@Url.Action("Shop", "Customer")" class="btn btn-sm btn-primary">Shop Now</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section site-section-sm site-blocks-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon mr-4 align-self-start">
                        <span class="icon-truck"></span>
                    </div>
                    <div class="text">
                        <h2 class="text-uppercase">Free Shipping</h2>
                        <p>免運費</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon mr-4 align-self-start">
                        <span class="icon-refresh2"></span>
                    </div>
                    <div class="text">
                        <h2 class="text-uppercase">Free Returns</h2>
                        <p>免費退貨</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon mr-4 align-self-start">
                        <span class="icon-help"></span>
                    </div>
                    <div class="text">
                        <h2 class="text-uppercase">Customer Support</h2>
                        <p>良好的顧客服務</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section site-blocks-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="100">
                    <a class="block-2-item" href="#">
                        <figure class="image">
                            <!--src:圖檔800*1066 alt:當圖檔失效時顯示的文字(會與下方的文字重疊)-->
                            <img src="~/Images/Customer_Index/雜誌.jpg" height="800" width="1066" alt="雜誌" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Collections</span>
                            <h3>雜誌</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                    <a class="block-2-item" href="#">
                        <figure class="image">
                            <!--src:圖檔800*1066 alt:當圖檔失效時顯示的文字(會與下方的文字重疊)-->
                            <img src="~/Images/Customer_Index/哲學.jpg" height="800" width="1066" alt="哲學" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Collections</span>
                            <h3>哲學</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                    <a class="block-2-item" href="#">
                        <figure class="image">
                            <!--src:圖檔800*1066 alt:當圖檔失效時顯示的文字(會與下方的文字重疊)-->
                            <img src="~/Images/Customer_Index/宗教.jpg" height="800" width="1066" alt="宗教" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Collections</span>
                            <h3>宗教</h3>
                        </div>
                    </a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="100">
                    <a class="block-2-item" href="#">
                        <figure class="image">
                            <!--src:圖檔800*1066 alt:當圖檔失效時顯示的文字(會與下方的文字重疊)-->
                            <img src="~/Images/Customer_Index/科學.jpg" height="800" width="1066" alt="科學" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Collections</span>
                            <h3>科學</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="100">
                    <a class="block-2-item" href="#">
                        <figure class="image">
                            <!--src:圖檔800*1066 alt:當圖檔失效時顯示的文字(會與下方的文字重疊)-->
                            <img src="~/Images/Customer_Index/應用科學.jpg" height="800" width="1066" alt="應用科學" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Collections</span>
                            <h3>應用科學</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="100">
                    <a class="block-2-item" href="#">
                        <figure class="image">
                            <!--src:圖檔800*1066 alt:當圖檔失效時顯示的文字(會與下方的文字重疊)-->
                            <img src="~/Images/Customer_Index/史地.jpg" height="800" width="1066" alt="史地" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Collections</span>
                            <h3>史地</h3>
                        </div>
                    </a>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="100">
                    <a class="block-2-item" href="#">
                        <figure class="image">
                            <!--src:圖檔800*1066 alt:當圖檔失效時顯示的文字(會與下方的文字重疊)-->
                            <img src="~/Images/Customer_Index/語文.jpg" height="800" width="1066" alt="語文" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Collections</span>
                            <h3>語文</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="100">
                    <a class="block-2-item" href="#">
                        <figure class="image">
                            <!--src:圖檔800*1066 alt:當圖檔失效時顯示的文字(會與下方的文字重疊)-->
                            <img src="~/Images/Customer_Index/藝術.jpg" height="800" width="1066" alt="藝術" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Collections</span>
                            <h3>藝術</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>