@using BookStore.Models
@model List<BookStore.Models.Interesting>
@{
    ViewBag.Title = "Interested";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="site-wrap">
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href=@Url.Action("Index", "Customer")>Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Interested</strong></div>
                </div>
            </div>
        </div>
        <div class="site-section">
            <div class="container">
                <div class="row mb-5">
                    <form class="col-md-12" method="post">
                        <div class="site-blocks-table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Cover</th>
                                        <th class="product-name">Name</th>
                                        <th class="product-name">Price</th>
                                        <th class="product-name">AddDate</th>
                                        <th class="product-remove">Remove</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <!--載入商品資訊-->
                                    @foreach (Interesting interestingBook in Model)
                                    {
                                        <tr>
                                            <td class="product-thumbnail">
                                                <!--商品圖片-->
                                                <!--一樣尚未加入資料庫圖片-->
                                                <img src=@interestingBook.Cover alt="Image" class="img-fluid">
                                            </td>
                                            <td class="product-name">
                                                <h2 class="h5 text-black">@interestingBook.Name</h2>
                                            </td>
                                            <td class="product-name">
                                                <h2 class="h5 text-black">@interestingBook.Price</h2>
                                            </td>
                                            <td class="product-name">
                                                <h2 class="h5 text-black">@interestingBook.AddDate</h2>
                                            </td>
                                            <td><a href=@Url.Action("InterestedBookDeleted", "Customer", new { customerID = interestingBook.CustomerID, ISBN = interestingBook.ISBN}) class="btn btn-primary btn-sm">X</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <a href=@Url.Action("Shop", "Customer") class="btn btn-outline-primary btn-sm btn-block">CONTINUE SHOPPING</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

