
@{
    ViewBag.Title = "MemberInformation";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            account
        </div>
    </div>
</div>

